body {
    font-family: "Helvetica", "Times New Roman", serif;
    background-color: #eee;
}

img {
    height: 500px;
    width: auto;
}

#website-title {
    font-family: 'Courier New';
    background-color: aqua;
    border: 4px dotted black;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.recipe-list {
    background-color: #D3D3D3;
    width: 500px;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 15px;
}

.recipe {
    background: #FAF9F6;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.nav{
    display: block;
    background-color: #189BCC;
    border: 8px solid #EA213A;
    margin: 20px auto;
    color: white;
    width: 150px;
    text-align: center;
    padding: 25px 35px;
    border-radius: 15px;
    font-size: 35px;
}

h1 {
    background-color: rgba(137, 148, 146, 0.637);
    font-size: 60px;
    padding: 10px;
    border-radius: 15px;
    border: 4px solid black
}

h2 {
    background-color: lavender;
    font-size: 40px;
}

p,
a {
    font-size: 30px;
}

ul,
ol {
    font-size: 30px;
}